*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center; 
  font-family: 'Gill Sans', sans-serif;
  height: 100vh;
  background-color: #FAF0CA;
}

header {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 15px;
  background-color: #0D3B66;
}

.header-title {
  margin-left: 16px;
  color: lightgray;
}

header p {
  font-weight: bold;
  font-size: 20px;
}

.tableau {
  position: relative;
  width: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #EE964B;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.search-bar {
  padding: 10px;
  border-bottom: 2px solid #000;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.maison {
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.maison-a {
  display: block;
  transition: transform 0.3s ease-in-out;
}

.maison-a:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.favori {
  padding: 10px;
  transition: transform 0.3s ease-in-out;
}

.favori-a {
  display: block;
  transition: transform 0.3s ease-in-out;
}

.favori-a:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.carte {
  display: flex;
  align-items: center;
  width: 100%;

}

#map {
  width:100%;
  height:450px; 
  position:relative;
  border: none;
}

a {
  text-decoration: none;
  color: #000;
}

a img {
  max-height: 150px;
  width : 200px;
  height: auto;
  object-fit: contain;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.bordure {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 90px;
}

.partie1 {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.partie2 {
  padding: 50px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}

.container-button {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  padding: 30px;
  background: #EE964B;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid #655560;
}

.button:hover {
  background-color: #A2AEBB;
}

.adr-button {
  margin-bottom: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.fav-button {
  margin-bottom: 45px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.lien-externe {
  transition: transform 0.3s ease-in-out;
  color: #000;
}

.lien-externe:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.parametres:hover {
  color: #121212;
}

.fa-triangle-exclamation {
  font-size: 5rem;
}

.fa-gear {
  font-size: 3rem;
  color: lightgray;
}

.fa-gear:hover {
  color: #5c5d5f;
}

.fa-xmark {
  font-size: 3rem;
  color: lightgray;
}

.fa-xmark:hover {
  color: #F95738;
}

#localisation {
  text-align: center;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px 150px 0px;
  
}

.hero-banner {
  display: flex;
  justify-content: center;
  flex-direction: column;
  bottom: 100px;

}

footer {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px;
  background-color: #F4D35E;
}

footer p {
  font-weight: bold;
  font-size: 20px;
}

@media (max-width: 1380px) {
  .menu {
    flex-direction: column;
  }

  .menu a:not(:last-child) {
    margin-bottom: 50px;
  }
}

@media (max-width: 900px) {
  .partie1, .partie2 {
      flex-direction: column;
  }
}